@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);
/* basics */
* {
    padding: 0px;
    margin: 0px;
}
html, body {
    min-height: 600px;
    height: 100%;
}
body{
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
}
input{
    font-weight: bolder;
    background-color: darkorange;
}
/* defaults */
#container{
    display: flex;
    height: 100%;
}
#default{
    height: 100%;
    width: 22%;
    min-width: 310px;
    float: left;
}
.default{
    text-align: center;
}

#cookie {
    height: 487.5px;
    width: 310px;
    z-index: -1;
}
.animate{
    animation: cookie 300ms;
}
@keyframes cookie{
    0%{height: 487.5px;}
    50%{height: 437.5px; margin-top: 50px;}
    100%{height: 487.5px;}
}
#total{
    text-align: center;
}
/* powerups and upgrades */
#powerups{
    background-color: rgb(252, 236, 220);
    height: 100%;
    width: 40%;
    min-width: 410px;
    float: left;
    text-align: center;
    border-left: 3vh solid white;
    border-right: 3vh solid white;
}
#upgrades{
    background-color: rgb(252, 236, 220);
    height: 100%;
    width: 38%;
    min-width: 310px;
    float: left;
    text-align: center;
}
.powerup{
    text-align: center;
    width: 80%;
    height: 25px;
    margin-top: 25px;
}
.upgrade {
    text-align: center;
    height: 75px;
    width: 80%;
    margin-top: 25px;
}
/*the details in the bottom left*/
#details{
    background-color: darkorange;
    border-radius: 5px;
    border: 2px solid black;
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 150px;
    width: 500px;
    text-align: left;
    display: none;
}
#details span{
    display: inline-block;
    text-align: left;
    margin-top: 15px;
    margin-left: 15px;
}
